* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  background-color: #f4f4f4;
}

/* font family */
.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

/* header-part */
header {
  display: flex;
  align-items: center;
  padding: 14px 160px;
  justify-content: space-between;
}

.header-btn {
  color: #006a50;
  background-color: white;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006a50;
  font-size: 18px;
  font-weight: 600;
}

/* main-section-part */
main {
  margin: 0 160px;
}

/* banner-section */
.banner-section {
  background-color: #C6E4D6;
  border-radius: 24px;
  display: flex;
  height: 560px;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin: 20px 0 80px 0;
  gap: 64px;
}

.banner-section-1 {
  font-size: 24px;
  font-weight: 500;
  color: #0e0e0e75;
  margin-bottom: 16px;
}

.banner-section-2 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner-section-3 {
  color: white;
  background-color: #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 34px;
  border: none;
}

/* pillars part */
.pillars {
  display: flex;
  gap: 24px;
}

.pillar {
  background-color: #ffffff;
  border: .5px solid rgb(221, 219, 219);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
  margin-top: 32px;
}

.pillar h4 {
  margin-top: 24px;
  margin-bottom: 12px;
}

.pillar p {
  color: #0e0e0e7c;
  font-weight: 400;
}

/* The Vision of Future */
.The-Vision-of-Future>p {
  margin-top: 24px;
  margin-bottom: 32px;
  color: #0e0e0e7c;
  font-weight: 400;
}

.visions {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.visions .a {
  background-color: #7faaf37d;
  border-radius: 16px;
  padding: 32px;
}

.visions .b {
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 32px;
}

.visions .c {
  background-color: #F7EBCF;
  border-radius: 16px;
  padding: 32px;
}

.visions .a>h4 {
  margin-top: 24px;
  margin-bottom: 12px;
}

.visions .b>h4 {
  margin-top: 24px;
  margin-bottom: 12px;
}

.visions .c>h4 {
  margin-top: 24px;
  margin-bottom: 12px;
}

.visions .a p {
  color: #0e0e0e7c;
  font-weight: 400;
}

.visions .b p {
  color: #0e0e0e7c;
  font-weight: 400;
}

.visions .c p {
  color: #0e0e0e7c;
  font-weight: 400;
}

.btn-1 {
  background-color: #5490f5;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 11px 20px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 35px;
}

.btn-2 {
  background-color: #09a15c;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 11px 20px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 35px;
}

.btn-3 {
  background-color: #ffc239;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 11px 20px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 35px;
}

/* Dr. Muhammad Yunus-part */
.yunus {
  background-color: white;
  border: .5px solid rgb(221, 219, 219);
  padding: 24px 24px 48px;
  border-radius: 26px;
  margin-bottom: 80px;
}

.p {
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 24px;
  ;
}

.yunus p {
  color: #0e0e0e7c;
  font-weight: 400;
}

.yunus h4 {
  margin-top: 12px;
  margin-bottom: 4px;
}

/* Recent News-part */
.para {
  color: #0e0e0e7c;
  font-weight: 400;
}

.Recent-News {
  display: flex;
  background-color: white;
  border-radius: 24px;
  padding: 56px 48px;
  gap: 32px;
  margin-bottom: 24px;
}

.m {
  margin-top: 24px;
  margin-bottom: 32px;
}

/* donate-part */
.donate {
  text-align: center;
}

.donate p {
  margin-top: 24px;
}

.input {
  color: black;
  background-color: white;
  border: .5px solid rgb(221, 219, 219);
  border-radius: 16px;
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
  margin: 32px 12px;
}

.input-1 {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
  background-color: white;
  border: .5px solid rgb(221, 219, 219);
  padding: 20px 0;
  font-size: 20px;
  font-weight: 400;
}

/* Subscribe Newsletter */
.subscribe {
  background-color: #a5f4d086;
  padding: 80px 100px;
  border-radius: 24px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.subscribe .last-btn {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.subscribe .last-btn input {
  border: none;
  padding: 18px 40px;
  border-radius: 6px 0 0 6px;
  width: 600px;
}

.subscribe .last-btn button {
  border: none;
  padding: 17px 34px;
  border-radius: 0 6px 6px 0;
  color: white;
  background-color: #006a50;
}

/* footer-part */
footer {
  background-color: white;
  text-align: center;
}

footer h2 {
  padding: 50px 160px;
}

footer div {
  justify-content: center;
  display: flex;
  gap: 23px;
  padding: 50px 160px;
}
/* button-effect-part */
.button-effect:hover{
background-color: white;
color: black;
border: .5px solid black;
}
.subscribe .last-btn button:hover {
  background-color: white;
  color: black;
  border: .5px solid black;
}
.button-effect-1:hover{
  background-color: #006a50;
  color: white;
  border: .5px solid #006a50;
}